/* reposition sidebar submenus. */
#sidebar > ul > li {
  position: relative;
}
#sidebar > ul > li > ul {
  display: none;
  left: calc(100% + 1px);
  position: absolute;
  top: -1px;
}
#sidebar > ul > li > ul > li {
  border-right: 1px solid rgb(204, 204, 204);
}

/* style right arrow in sidebar. */
#sidebar span {
  color: rgb(112, 114, 116);
  float: right;
  font-size: .75em;
  padding-right: 3px;
  position: relative;
  top: 3px;
}

/* hover effect in sidebar. */
#sidebar > ul > li:hover {
  background: rgb(204, 204, 204);
}

/* avoid flash of unstyled content. remove this class via javascript
 * once the page has completely loaded. */
.un_fouc {
  display: none;
}
