{% extends "base.html" %}
{% block content %}
  {% for block in blocks %}
    <div class="section">
      <div class="content">
        <h2>{{ block.description }}</h2>
        <ol style="list-style: decimal;">
          {% for translation in block.translations %}
            <li>{{ translation.translation }}
              <ol style="list-style-type: lower-alpha;" type="a">
                 {% for transcription in translation.transcriptions %}
                   <li>{{ transcription }}</li>
                 {% endfor %}
              </ol>
            </li>
          {% endfor %}
        </ol>
      </div>
    </div>
  {% endfor %}
{% endblock %}
