<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Main | Digital Maya</title>

<style type="text/css">
a:link, a:visited, a:hover, a:active {
  color: rgb(0, 102, 153);
}
a:link, a:visited {
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
}
body {
  background: #fff;
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75%;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0;
}
h1 {
  font-size: 52px;
  margin: 0;
  text-align: center;
}
h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
  color: black;
  text-decoration: none;
}
#header {
  background: pink;
  left: 0px;
  margin: 0;
  padding: 5px 0 0;
  position: fixed;
  top: 0px;
  width: 100%;
}
#main {
  background: yellow;
  margin: 78px 0 0 150px;
}
#sidebar {
  bottom: 0px;
  left: 0px;
  margin-right: 10px;
  position: absolute;
  top: 78px;
  width: 150px;
}
@media all and (min-height: 500px) {
  #sidebar {
    position: fixed;
  }
}
#wrapper {
}

@media all and (min-width: 600px) {
}

@media all and (min-width: 800px) {
}

#sidebar a {
  padding: 0.3em 5px;
}
#sidebar li {
  background-color: rgb(238, 238, 238);
  border: 1px solid rgb(204, 204, 204);
  border-top: none;
  position: relative;
}
#sidebar ul {
  border-top: 1px solid rgb(204, 204, 204);
  list-style: none;
  padding: 0;
}
#sidebar li ul {
  display: none;
  left: 100%;
  position: absolute;
  top: -1px;
}
</style>

</head>
<body>
<div id="wrapper">
<div id="header">
  <h1><a href = "index.html">Spoken Yucatec Maya</a></h1>
</div>

<div id="sidebar">
<h3>Lesson Navigation</h3>
  
<ul>
  <li><a href="front_matter.html">Front Matter</a></li>
  <li><a href="index.html" class="active">Lesson 1</a>
    <ul>
      <li><a href="basic_sentences/1.html">Basic Sentences</a></li>
      <li><a href="pronunciation/1.html">Pronunciation</a></li>
      <li><a href="grammar/1.html">Grammar</a></li>
      <li><a href="drills/1.html">Drills</a></li>
      <li><a href="listening_in/1.html">Listening In</a></li>
      <li><a href="conversation/1.html">Conversation</a></li>
      <li><a href="vocabulary/1.html">Vocabulary</a></li>
      <li><a href="supplementary_materials/1.html">Supplementary Materials</a></li>
      <li><a href="teaching_aids/1.html">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="index.html">Lesson 2</a>
    <ul>
      <li><a href="basic_sentences/2.html">Basic Sentences</a></li>
      <li><a href="pronunciation/2.html">Pronunciation</a></li>
      <li><a href="grammar/2.html">Grammar</a></li>
      <li><a href="drills/2.html">Drills</a></li>
      <li><a href="listening_in/2.html">Listening In</a></li>
      <li><a href="conversation/2.html">Conversation</a></li>
      <li><a href="vocabulary/2.html">Vocabulary</a></li>
      <li><a href="supplementary_materials/2.html">Supplementary Materials</a></li>
      <li><a href="teaching_aids/2.html">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="index.html" class="active">Lesson 3</a>
    <ul>
      <li><a href="basic_sentences/3.html">Basic Sentences</a></li>
      <li><a href="pronunciation/3.html">Pronunciation</a></li>
      <li><a href="grammar/3.html">Grammar</a></li>
      <li><a href="drills/3.html">Drills</a></li>
      <li><a href="listening_in/3.html">Listening In</a></li>
      <li><a href="conversation/3.html">Conversation</a></li>
      <li><a href="vocabulary/3.html">Vocabulary</a></li>
      <li><a href="supplementary_materials/3.html">Supplementary Materials</a></li>
      <li><a href="teaching_aids/3.html">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="index.html" class="active">Lesson 4</a>
    <ul>
      <li><a href="basic_sentences/4.html">Basic Sentences</a></li>
      <li><a href="pronunciation/4.html">Pronunciation</a></li>
      <li><a href="grammar/4.html">Grammar</a></li>
      <li><a href="drills/4.html">Drills</a></li>
      <li><a href="listening_in/4.html">Listening In</a></li>
      <li><a href="conversation/4.html">Conversation</a></li>
      <li><a href="vocabulary/4.html">Vocabulary</a></li>
      <li><a href="supplementary_materials/4.html">Supplementary Materials</a></li>
      <li><a href="teaching_aids/4.html">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="index.html" class="active">Lesson 5</a>
    <ul>
      <li><a href="basic_sentences/5.html">Basic Sentences</a></li>
      <li><a href="pronunciation/5.html">Pronunciation</a></li>
      <li><a href="grammar/5.html">Grammar</a></li>
      <li><a href="drills/5.html">Drills</a></li>
      <li><a href="listening_in/5.html">Listening In</a></li>
      <li><a href="conversation/5.html">Conversation</a></li>
      <li><a href="vocabulary/5.html">Vocabulary</a></li>
      <li><a href="supplementary_materials/5.html">Supplementary Materials</a></li>
      <li><a href="teaching_aids/5.html">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="index.html" class="active">Lesson 6</a>
    <ul>
      <li><a href="basic_sentences_review/6.html">Basic Sentences Review</a></li>
      <li><a href="pronunciation/6.html">Pronunciation</a></li>
      <li><a href="grammar/6.html">Grammar</a></li>
      <li><a href="drills/6.html">Drills</a></li>
      <li><a href="listening_in/6.html">Listening In</a></li>
      <li><a href="conversation/6.html">Conversation</a></li>
      <li><a href="vocabulary/6.html">Vocabulary</a></li>
      <li><a href="supplementary_materials/6.html">Supplementary Materials</a></li>
      <li><a href="teaching_aids/6.html">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="index.html" class="active">Lesson 7</a>
    <ul>
      <li><a href="basic_sentences/7.html">Basic Sentences</a></li>
      <li><a href="pronunciation/7.html">Pronunciation</a></li>
      <li><a href="grammar/7.html">Grammar</a></li>
      <li><a href="drills/7.html">Drills</a></li>
      <li><a href="listening_in/7.html">Listening In</a></li>
      <li><a href="conversation/7.html">Conversation</a></li>
      <li><a href="vocabulary/7.html">Vocabulary</a></li>
      <li><a href="supplementary_materials/7.html">Supplementary Materials</a></li>
      <li><a href="teaching_aids/7.html">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="index.html" class="active">Lesson 8</a>
    <ul>
      <li><a href="basic_sentences/8.html">Basic Sentences</a></li>
      <li><a href="pronunciation/8.html">Pronunciation</a></li>
      <li><a href="grammar/8.html">Grammar</a></li>
      <li><a href="drills/8.html">Drills</a></li>
      <li><a href="listening_in/8.html">Listening In</a></li>
      <li><a href="conversation/8.html">Conversation</a></li>
      <li><a href="vocabulary/8.html">Vocabulary</a></li>
      <li><a href="supplementary_materials/8.html">Supplementary Materials</a></li>
      <li><a href="teaching_aids/8.html">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="index.html">Lesson 9</a>
    <ul>
      <li id="menu-1371" class="menu-path-basic_sentences-9"><a href="basic_sentences/9.html">Basic Sentences</a></li>
      <li><a href="pronunciation/9.html">Pronunciation</a></li>
      <li><a href="grammar/9.html">Grammar</a></li>
      <li><a href="drills/9.html">Drills</a></li>
      <li><a href="listening_in/9.html">Listening In</a></li>
      <li><a href="conversation/9.html">Conversation</a></li>
      <li><a href="vocabulary/9.html">Vocabulary</a></li>
      <li><a href="supplementary_materials/9.html">Supplementary Materials</a></li>
      <li><a href="teaching_aids/9.html">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="index.html" class="active">Lesson 10</a>
    <ul>
      <li><a href="basic_sentences/10.html">Basic Sentences</a></li>
      <li><a href="pronunciation/10.html">Pronunciation</a></li>
      <li><a href="grammar/10.html">Grammar</a></li>
      <li><a href="drills/10.html">Drills</a></li>
      <li><a href="listening_in/10.html">Listening In</a></li>
      <li><a href="conversation/10.html">Conversation</a></li>
      <li><a href="vocabulary/10.html">Vocabulary</a></li>
      <li><a href="supplementary_materials/10.html">Supplementary Materials</a></li>
      <li><a href="teaching_aids/10.html">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="index.html" class="active">Lesson 11</a>
    <ul>
      <li><a href="basic_sentences/11.html">Basic Sentences</a></li>
      <li><a href="pronunciation/11.html">Pronunciation</a></li>
      <li><a href="grammar/11.html">Grammar</a></li>
      <li><a href="drills/11.html">Drills</a></li>
      <li><a href="listening_in/11.html">Listening In</a></li>
      <li><a href="conversation/11.html">Conversation</a></li>
      <li><a href="vocabulary/11.html">Vocabulary</a></li>
      <li><a href="supplementary_materials/11.html">Supplementary Materials</a></li>
      <li><a href="teaching_aids/11.html">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="index.html" class="active">Lesson 12</a>
    <ul>
      <li><a href="basic_sentences_review/12.html">Basic Sentences Review</a></li>
      <li><a href="pronunciation/12.html">Pronunciation</a></li>
      <li><a href="grammar/12.html">Grammar</a></li>
      <li><a href="drills/12.html">Drills</a></li>
      <li><a href="listening_in/12.html">Listening In</a></li>
      <li><a href="conversation/12.html">Conversation</a></li>
      <li><a href="vocabulary/12.html">Vocabulary</a></li>
      <li><a href="supplementary_materials/12.html">Supplementary Materials</a></li>
      <li><a href="teaching_aids/12.html">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="index.html" class="active">Lesson 13</a>
    <ul>
      <li><a href="basic_sentences/13.html">Basic Sentences</a></li>
      <li><a href="pronunciation/13.html">Pronunciation</a></li>
      <li><a href="grammar/13.html">Grammar</a></li>
      <li><a href="drills/13.html">Drills</a></li>
      <li><a href="listening_in/13.html">Listening In</a></li>
      <li><a href="conversation/13.html">Conversation</a></li>
      <li><a href="vocabulary/13.html">Vocabulary</a></li>
      <li><a href="supplementary_materials/13.html">Supplementary Materials</a></li>
      <li><a href="teaching_aids/13.html">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="index.html" class="active">Lesson 14</a>
    <ul>
      <li><a href="basic_sentences/14.html">Basic Sentences</a></li>
      <li><a href="pronunciation/14.html">Pronunciation</a></li>
      <li><a href="grammar/14.html">Grammar</a></li>
      <li><a href="drills/14.html">Drills</a></li>
      <li><a href="listening_in/14.html">Listening In</a></li>
      <li><a href="conversation/14.html">Conversation</a></li>
      <li><a href="vocabulary/14.html">Vocabulary</a></li>
      <li><a href="supplementary_materials/14.html">Supplementary Materials</a></li>
      <li><a href="teaching_aids/14.html">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="index.html" class="active">Lesson 15</a>
    <ul>
      <li><a href="basic_sentences/15.html">Basic Sentences</a></li>
      <li><a href="pronunciation/15.html">Pronunciation</a></li>
      <li><a href="grammar/15.html">Grammar</a></li>
      <li><a href="drills/15.html">Drills</a></li>
      <li><a href="listening_in/15.html">Listening In</a></li>
      <li><a href="conversation/15.html">Conversation</a></li>
      <li><a href="vocabulary/15.html">Vocabulary</a></li>
      <li><a href="supplementary_materials/15.html">Supplementary Materials</a></li>
      <li><a href="teaching_aids/15.html">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="index.html" class="active">Lesson 16</a>
    <ul>
      <li><a href="basic_sentences/16.html">Basic Sentences</a></li>
      <li><a href="pronunciation/16.html">Pronunciation</a></li>
      <li><a href="grammar/16.html">Grammar</a></li>
      <li><a href="drills/16.html">Drills</a></li>
      <li><a href="listening_in/16.html">Listening In</a></li>
      <li><a href="conversation/16.html">Conversation</a></li>
      <li><a href="vocabulary/16.html">Vocabulary</a></li>
      <li><a href="supplementary_materials/16.html">Supplementary Materials</a></li>
      <li><a href="teaching_aids/16.html">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="index.html" class="active">Lesson 17</a>
    <ul><li><a href="basic_sentences/17.html">Basic Sentences</a></li>
      <li><a href="pronunciation/17.html">Pronunciation</a></li>
      <li><a href="grammar/17.html">Grammar</a></li>
      <li><a href="drills/17.html">Drills</a></li>
      <li><a href="listening_in/17.html">Listening In</a></li>
      <li><a href="conversation/17.html">Conversation</a></li>
      <li><a href="vocabulary/17.html">Vocabulary</a></li>
      <li><a href="supplementary_materials/17.html">Supplementary Materials</a></li>
      <li><a href="teaching_aids/17.html">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="index.html" class="active">Lesson 18</a>
    <ul>
      <li><a href="basic_sentences_review/18.html">Basic Sentences Review</a></li>
      <li><a href="pronunciation/18.html">Pronunciation</a></li>
      <li><a href="grammar/18.html">Grammar</a></li>
      <li><a href="drills/18.html">Drills</a></li>
      <li><a href="listening_in/18.html">Listening In</a></li>
      <li><a href="conversation/18.html">Conversation</a></li>
      <li><a href="vocabulary/18.html">Vocabulary</a></li>
      <li><a href="supplementary_materials/18.html">Supplementary Materials</a></li>
      <li><a href="teaching_aids/18.html">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="index.html" class="active">Reference</a>
    <ul><li><a href="grammar/reference.html">Grammar</a></li>
      <li><a href="lexicon.html">Lexicon</a></li>
      <li><a href="blair-and-vermont-salas.html">Blair &amp; Vermont Salas</a></li>
    </ul>
  </li>
  <li><a href="content/page-export.html">Export</a></li>
</ul>

<form>
  <label for="search_block_form">Search this site:</label>
  <input type="text" maxlength="128" name="search_block_form" id="search_block_form" size="15" value="" title="Enter the terms you wish to search for."/>
  <input type="submit" name="op" value="Search"/>
</form>
</div> <!-- /#sidebar -->
      
<div id="main">
  
Chicago Digital Yucatec

<table>
  <tr>
    <th/>
    <th>Character</th>
    <th>English <a href="#">Show</a> <a href="#">Hide</a></th>
    <th>Maya <a href="#">Show</a> <a href="#">Hide</a></th>
  </tr>
  {% for sentence in lesson %}
    {% for b in sentence.breakdowns %}
      <tr>
        <td/>
        <td/>
        <td>{{ b.translation }}</td>
        <td>{{ b.transcription }}</td>
      </tr>
    {% endfor %}
    <tr>
      <td>{{ sentence.abbreviation }}</td>
      <td>{{ sentence.speaker }}</td>
      <td>{{ sentence.translation }}</td>
      <td>{{ sentence.transcription }}</td>
    </tr>
    {% for a in sentence.alternate_transcriptions %}
      <tr>
        <td/>
        <td/>
        <td/>
        <td>{{ a }}</td>
      </tr>
    {% endfor %}
  {% endfor %}
</table>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

</div> <!-- /#main -->

</div>

<script type="text/javascript">
var menuparents = document.querySelectorAll('.menuparent a');
for (var i = 0; i < menuparents.length; i++) {
  menuparents[i].addEventListener('mouseover', function(e) {
    console.log('mouseover');
    this.nextSibling.style.display = 'block';
  });
  menuparents[i].addEventListener('mouseout', function(e) {
    console.log('mouseout');
    var uls = document.querySelectorAll('.menuparent ul');
    for (var j = 0; j < uls.length; j++) {
      uls[j].style.display = '';
    }
  });
}
</script>

</body>

</html>
