<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Main | Digital Maya</title>

<style type="text/css">
a:link, a:visited, a:hover, a:active {
  color: rgb(0, 102, 153);
}
a:link, a:visited {
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
}
body {
  background: #fff;
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75%;
  line-height: 1.5;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}
h1 {
  font-size: 52px;
  margin: 0;
  text-align: center;
}
h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
  color: black;
  text-decoration: none;
}
#content {
  bottom: 0px;
  left: 0px;
  overflow: auto;
  position: fixed;
  right: 0px;
  top: 78px;
}
#header {
  height: 78px;
  left: 0px;
  margin: 0;
  padding: 5px 0 0;
  position: fixed;
  right: 0px;
  top: 0px;
}
#main {
  margin: 0 0 0 150px;
  position: relative;
  z-index: 0;
}
#sidebar {
  bottom: 0px;
  left: 0px;
  margin-right: 10px;
  position: absolute;
  top: 0px;
  width: 150px;
  z-index: 1;
}
@media all and (min-height: 500px) {
  #sidebar {
    position: fixed;
  }
}
#wrapper {
}

@media all and (min-width: 600px) {
}

@media all and (min-width: 800px) {
}

#sidebar a {
  padding: 0.3em 5px;
}
#sidebar li {
  background-color: rgb(238, 238, 238);
  border: 1px solid rgb(204, 204, 204);
  border-top: none;
  position: relative;
}
#sidebar ul {
  border-top: 1px solid rgb(204, 204, 204);
  list-style: none;
  padding: 0;
}
#sidebar li ul {
  /* display: none; */
  left: 100%;
  position: absolute;
  top: -1px;
}
</style>

</head>
<body>
<div id="wrapper">
<div id="header">
  <h1><a href = "index.html">Spoken Yucatec Maya</a></h1>
</div>

<div id="content">
<div id="sidebar">
<h3>Lesson Navigation</h3>
  
<ul>
  <li><a href="front_matter.html">Front Matter</a></li>
  <li><a href="#">Lesson 1</a>
    <ul>
      <li><a href="/?uuid=0ad43a89-09d6-4292-88cb-b6fd6dfe41e5&section=1">Basic Sentences</a></li>
      <li><a href="/?uuid=0ad43a89-09d6-4292-88cb-b6fd6dfe41e5&section=2">Pronunciation</a></li>
      <li><a href="/?uuid=0ad43a89-09d6-4292-88cb-b6fd6dfe41e5&section=3">Grammar</a></li>
      <li><a href="/?uuid=0ad43a89-09d6-4292-88cb-b6fd6dfe41e5&section=4">Drills</a></li>
      <li><a href="/?uuid=0ad43a89-09d6-4292-88cb-b6fd6dfe41e5&section=5">Listening In</a></li>
      <li><a href="/?uuid=0ad43a89-09d6-4292-88cb-b6fd6dfe41e5&section=6">Conversation</a></li>
      <li><a href="/?uuid=0ad43a89-09d6-4292-88cb-b6fd6dfe41e5&section=7">Vocabulary</a></li>
      <li><a href="/?uuid=0ad43a89-09d6-4292-88cb-b6fd6dfe41e5&section=8">Supplementary Materials</a></li>
      <li><a href="/?uuid=0ad43a89-09d6-4292-88cb-b6fd6dfe41e5&section=9">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="#">Lesson 2</a>
    <ul>
      <li><a href="/?uuid=c3791c4d-8e22-4770-aef8-9b524deda61c&section=1">Basic Sentences</a></li>
      <li><a href="/?uuid=c3791c4d-8e22-4770-aef8-9b524deda61c&section=2">Pronunciation</a></li>
      <li><a href="/?uuid=c3791c4d-8e22-4770-aef8-9b524deda61c&section=3">Grammar</a></li>
      <li><a href="/?uuid=c3791c4d-8e22-4770-aef8-9b524deda61c&section=4">Drills</a></li>
      <li><a href="/?uuid=c3791c4d-8e22-4770-aef8-9b524deda61c&section=5">Listening In</a></li>
      <li><a href="/?uuid=c3791c4d-8e22-4770-aef8-9b524deda61c&section=6">Conversation</a></li> 
      <li><a href="/?uuid=c3791c4d-8e22-4770-aef8-9b524deda61c&section=7">Vocabulary</a></li>
      <li><a href="/?uuid=c3791c4d-8e22-4770-aef8-9b524deda61c&section=8">Supplementary Materials</a></li>
      <li><a href="/?uuid=c3791c4d-8e22-4770-aef8-9b524deda61c&section=9">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="#">Lesson 3</a>
    <ul>
      <li><a href="/?uuid=afe870bb-c5d8-4ee1-804a-0da942345f0f&section=1">Basic Sentences</a></li>
      <li><a href="/?uuid=afe870bb-c5d8-4ee1-804a-0da942345f0f&section=2">Pronunciation</a></li>
      <li><a href="/?uuid=afe870bb-c5d8-4ee1-804a-0da942345f0f&section=3">Grammar</a></li>
      <li><a href="/?uuid=afe870bb-c5d8-4ee1-804a-0da942345f0f&section=4">Drills</a></li>
      <li><a href="/?uuid=afe870bb-c5d8-4ee1-804a-0da942345f0f&section=5">Listening In</a></li>
      <li><a href="/?uuid=afe870bb-c5d8-4ee1-804a-0da942345f0f&section=6">Conversation</a></li>
      <li><a href="/?uuid=afe870bb-c5d8-4ee1-804a-0da942345f0f&section=7">Vocabulary</a></li>
      <li><a href="/?uuid=afe870bb-c5d8-4ee1-804a-0da942345f0f&section=8">Supplementary Materials</a></li>
      <li><a href="/?uuid=afe870bb-c5d8-4ee1-804a-0da942345f0f&section=9">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="#">Lesson 4</a>
    <ul>
      <li><a href="/?uuid=1e591579-2259-4b78-8a5c-5027aa1ecfde&section=1">Basic Sentences</a></li>
      <li><a href="/?uuid=1e591579-2259-4b78-8a5c-5027aa1ecfde&section=2">Pronunciation</a></li>
      <li><a href="/?uuid=1e591579-2259-4b78-8a5c-5027aa1ecfde&section=3">Grammar</a></li>
      <li><a href="/?uuid=1e591579-2259-4b78-8a5c-5027aa1ecfde&section=4">Drills</a></li>
      <li><a href="/?uuid=1e591579-2259-4b78-8a5c-5027aa1ecfde&section=5">Listening In</a></li>
      <li><a href="/?uuid=1e591579-2259-4b78-8a5c-5027aa1ecfde&section=6">Conversation</a></li>
      <li><a href="/?uuid=1e591579-2259-4b78-8a5c-5027aa1ecfde&section=7">Vocabulary</a></li>
      <li><a href="/?uuid=1e591579-2259-4b78-8a5c-5027aa1ecfde&section=8">Supplementary Materials</a></li>
      <li><a href="/?uuid=1e591579-2259-4b78-8a5c-5027aa1ecfde&section=9">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="#">Lesson 5</a>
    <ul>
      <li><a href="/?uuid=db7cbbe1-229f-4b60-a8f1-35fda8ec9dbd&section=1">Basic Sentences</a></li>
      <li><a href="/?uuid=db7cbbe1-229f-4b60-a8f1-35fda8ec9dbd&section=2">Pronunciation</a></li>
      <li><a href="/?uuid=db7cbbe1-229f-4b60-a8f1-35fda8ec9dbd&section=3">Grammar</a></li>
      <li><a href="/?uuid=db7cbbe1-229f-4b60-a8f1-35fda8ec9dbd&section=4">Drills</a></li>
      <li><a href="/?uuid=db7cbbe1-229f-4b60-a8f1-35fda8ec9dbd&section=5">Listening In</a></li>
      <li><a href="/?uuid=db7cbbe1-229f-4b60-a8f1-35fda8ec9dbd&section=6">Conversation</a></li>
      <li><a href="/?uuid=db7cbbe1-229f-4b60-a8f1-35fda8ec9dbd&section=7">Vocabulary</a></li>
      <li><a href="/?uuid=db7cbbe1-229f-4b60-a8f1-35fda8ec9dbd&section=8">Supplementary Materials</a></li>
      <li><a href="/?uuid=db7cbbe1-229f-4b60-a8f1-35fda8ec9dbd&section=9">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="#">Lesson 6</a>
    <ul>
      <li><a href="/?uuid=5855e101-4bbd-4839-8b5e-c02054233654&section=1">Basic Sentences Review</a></li>
      <li><a href="/?uuid=5855e101-4bbd-4839-8b5e-c02054233654&section=2">Pronunciation</a></li>
      <li><a href="/?uuid=5855e101-4bbd-4839-8b5e-c02054233654&section=3">Grammar</a></li>
      <li><a href="/?uuid=5855e101-4bbd-4839-8b5e-c02054233654&section=4">Drills</a></li>
      <li><a href="/?uuid=5855e101-4bbd-4839-8b5e-c02054233654&section=5">Listening In</a></li>
      <li><a href="/?uuid=5855e101-4bbd-4839-8b5e-c02054233654&section=6">Conversation</a></li>
      <li><a href="/?uuid=5855e101-4bbd-4839-8b5e-c02054233654&section=8">Vocabulary</a></li>
      <li><a href="/?uuid=5855e101-4bbd-4839-8b5e-c02054233654&section=7">Supplementary Materials</a></li>
      <li><a href="/?uuid=5855e101-4bbd-4839-8b5e-c02054233654&section=9">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="#">Lesson 7</a>
    <ul>
      <li><a href="/?uuid=9c73e504-e9fc-473b-a67c-d21ea10a9291&section=1">Basic Sentences</a></li>
      <li><a href="/?uuid=9c73e504-e9fc-473b-a67c-d21ea10a9291&section=2">Pronunciation</a></li>
      <li><a href="/?uuid=9c73e504-e9fc-473b-a67c-d21ea10a9291&section=3">Grammar</a></li>
      <li><a href="/?uuid=9c73e504-e9fc-473b-a67c-d21ea10a9291&section=4">Drills</a></li>
      <li><a href="/?uuid=9c73e504-e9fc-473b-a67c-d21ea10a9291&section=5">Listening In</a></li>
      <li><a href="/?uuid=9c73e504-e9fc-473b-a67c-d21ea10a9291&section=6">Conversation</a></li>
      <li><a href="/?uuid=9c73e504-e9fc-473b-a67c-d21ea10a9291&section=7">Vocabulary</a></li>
      <li><a href="/?uuid=9c73e504-e9fc-473b-a67c-d21ea10a9291&section=8">Supplementary Materials</a></li>
      <li><a href="/?uuid=9c73e504-e9fc-473b-a67c-d21ea10a9291&section=9">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="#">Lesson 8</a>
    <ul>
      <li><a href="/?uuid=9679d90a-f936-45da-9c55-33192af0a59d&section=1">Basic Sentences</a></li>
      <li><a href="/?uuid=9679d90a-f936-45da-9c55-33192af0a59d&section=2">Pronunciation</a></li>
      <li><a href="/?uuid=9679d90a-f936-45da-9c55-33192af0a59d&section=3">Grammar</a></li>
      <li><a href="/?uuid=9679d90a-f936-45da-9c55-33192af0a59d&section=4">Drills</a></li>
      <li><a href="/?uuid=9679d90a-f936-45da-9c55-33192af0a59d&section=5">Listening In</a></li>
      <li><a href="/?uuid=9679d90a-f936-45da-9c55-33192af0a59d&section=6">Conversation</a></li>
      <li><a href="/?uuid=9679d90a-f936-45da-9c55-33192af0a59d&section=7">Vocabulary</a></li>
      <li><a href="/?uuid=9679d90a-f936-45da-9c55-33192af0a59d&section=8">Supplementary Materials</a></li>
      <li><a href="/?uuid=9679d90a-f936-45da-9c55-33192af0a59d&section=9">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="#">Lesson 9</a>
    <ul>
      <li><a href="/?uuid=8643c265-d9ff-4960-a5bc-26a1eb1d772e&section=1">Basic Sentences</a></li>
      <li><a href="/?uuid=8643c265-d9ff-4960-a5bc-26a1eb1d772e&section=2">Pronunciation</a></li>
      <li><a href="/?uuid=8643c265-d9ff-4960-a5bc-26a1eb1d772e&section=3">Grammar</a></li>
      <li><a href="/?uuid=8643c265-d9ff-4960-a5bc-26a1eb1d772e&section=4">Drills</a></li>
      <li><a href="/?uuid=8643c265-d9ff-4960-a5bc-26a1eb1d772e&section=5">Listening In</a></li>
      <li><a href="/?uuid=8643c265-d9ff-4960-a5bc-26a1eb1d772e&section=6">Conversation</a></li>
      <li><a href="/?uuid=8643c265-d9ff-4960-a5bc-26a1eb1d772e&section=7">Vocabulary</a></li>
      <li><a href="/?uuid=8643c265-d9ff-4960-a5bc-26a1eb1d772e&section=8">Supplementary Materials</a></li>
      <li><a href="/?uuid=8643c265-d9ff-4960-a5bc-26a1eb1d772e&section=9">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="#">Lesson 10</a>
    <ul>
      <li><a href="/?uuid=9ed29352-7905-4d0d-a6c0-a5dedee82c2b&section=1">Basic Sentences</a></li>
      <li><a href="/?uuid=9ed29352-7905-4d0d-a6c0-a5dedee82c2b&section=2">Pronunciation</a></li>
      <li><a href="/?uuid=9ed29352-7905-4d0d-a6c0-a5dedee82c2b&section=3">Grammar</a></li>
      <li><a href="/?uuid=9ed29352-7905-4d0d-a6c0-a5dedee82c2b&section=4">Drills</a></li>
      <li><a href="/?uuid=9ed29352-7905-4d0d-a6c0-a5dedee82c2b&section=5">Listening In</a></li>
      <li><a href="/?uuid=9ed29352-7905-4d0d-a6c0-a5dedee82c2b&section=6">Conversation</a></li>
      <li><a href="/?uuid=9ed29352-7905-4d0d-a6c0-a5dedee82c2b&section=7">Vocabulary</a></li>
      <li><a href="/?uuid=9ed29352-7905-4d0d-a6c0-a5dedee82c2b&section=8">Supplementary Materials</a></li>
      <li><a href="/?uuid=9ed29352-7905-4d0d-a6c0-a5dedee82c2b&section=9">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="#">Lesson 11</a>
    <ul>
      <li><a href="/?uuid=fcf87b74-93b6-4dc2-a005-2a94d9a1bd6e&section=1">Basic Sentences</a></li>
      <li><a href="/?uuid=fcf87b74-93b6-4dc2-a005-2a94d9a1bd6e&section=2">Pronunciation</a></li>
      <li><a href="/?uuid=fcf87b74-93b6-4dc2-a005-2a94d9a1bd6e&section=3">Grammar</a></li>
      <li><a href="/?uuid=fcf87b74-93b6-4dc2-a005-2a94d9a1bd6e&section=4">Drills</a></li>
      <li><a href="/?uuid=fcf87b74-93b6-4dc2-a005-2a94d9a1bd6e&section=5">Listening In</a></li>
      <li><a href="/?uuid=fcf87b74-93b6-4dc2-a005-2a94d9a1bd6e&section=6">Conversation</a></li>
      <li><a href="/?uuid=fcf87b74-93b6-4dc2-a005-2a94d9a1bd6e&section=7">Vocabulary</a></li>
      <li><a href="/?uuid=fcf87b74-93b6-4dc2-a005-2a94d9a1bd6e&section=8">Supplementary Materials</a></li>
      <li><a href="/?uuid=fcf87b74-93b6-4dc2-a005-2a94d9a1bd6e&section=9">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="#">Lesson 12</a>
    <ul>
      <li><a href="/?uuid=770214c7-0111-4081-a7bf-c2fa91a835ab&section=1">Basic Sentences Review</a></li>
      <li><a href="/?uuid=770214c7-0111-4081-a7bf-c2fa91a835ab&section=2">Pronunciation</a></li>
      <li><a href="/?uuid=770214c7-0111-4081-a7bf-c2fa91a835ab&section=3">Grammar</a></li>
      <li><a href="/?uuid=770214c7-0111-4081-a7bf-c2fa91a835ab&section=4">Drills</a></li>
      <li><a href="/?uuid=770214c7-0111-4081-a7bf-c2fa91a835ab&section=5">Listening In</a></li>
      <li><a href="/?uuid=770214c7-0111-4081-a7bf-c2fa91a835ab&section=6">Conversation</a></li>
      <li><a href="/?uuid=770214c7-0111-4081-a7bf-c2fa91a835ab&section=7">Vocabulary</a></li>
      <li><a href="/?uuid=770214c7-0111-4081-a7bf-c2fa91a835ab&section=8">Supplementary Materials</a></li>
      <li><a href="/?uuid=770214c7-0111-4081-a7bf-c2fa91a835ab&section=9">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="#">Lesson 13</a>
    <ul>
      <li><a href="/?uuid=a71f2951-2927-41d3-b642-0f1c8889e75c&section=1">Basic Sentences</a></li>
      <li><a href="/?uuid=a71f2951-2927-41d3-b642-0f1c8889e75c&section=2">Pronunciation</a></li>
      <li><a href="/?uuid=a71f2951-2927-41d3-b642-0f1c8889e75c&section=3">Grammar</a></li>
      <li><a href="/?uuid=a71f2951-2927-41d3-b642-0f1c8889e75c&section=4">Drills</a></li>
      <li><a href="/?uuid=a71f2951-2927-41d3-b642-0f1c8889e75c&section=5">Listening In</a></li>
      <li><a href="/?uuid=a71f2951-2927-41d3-b642-0f1c8889e75c&section=6">Conversation</a></li>
      <li><a href="/?uuid=a71f2951-2927-41d3-b642-0f1c8889e75c&section=7">Vocabulary</a></li>
      <li><a href="/?uuid=a71f2951-2927-41d3-b642-0f1c8889e75c&section=8">Supplementary Materials</a></li>
      <li><a href="/?uuid=a71f2951-2927-41d3-b642-0f1c8889e75c&section=9">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="#">Lesson 14</a>
    <ul>
      <li><a href="/?uuid=afa123cd-e3cb-4de0-ac72-a2d89b6cd0a2&section=1">Basic Sentences</a></li>
      <li><a href="/?uuid=afa123cd-e3cb-4de0-ac72-a2d89b6cd0a2&section=2">Pronunciation</a></li>
      <li><a href="/?uuid=afa123cd-e3cb-4de0-ac72-a2d89b6cd0a2&section=3">Grammar</a></li>
      <li><a href="/?uuid=afa123cd-e3cb-4de0-ac72-a2d89b6cd0a2&section=4">Drills</a></li>
      <li><a href="/?uuid=afa123cd-e3cb-4de0-ac72-a2d89b6cd0a2&section=5">Listening In</a></li>
      <li><a href="/?uuid=afa123cd-e3cb-4de0-ac72-a2d89b6cd0a2&section=6">Conversation</a></li>
      <li><a href="/?uuid=afa123cd-e3cb-4de0-ac72-a2d89b6cd0a2&section=7">Vocabulary</a></li>
      <li><a href="/?uuid=afa123cd-e3cb-4de0-ac72-a2d89b6cd0a2&section=8">Supplementary Materials</a></li>
      <li><a href="/?uuid=afa123cd-e3cb-4de0-ac72-a2d89b6cd0a2&section=9">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="#">Lesson 15</a>
    <ul>
      <li><a href="/?uuid=560f9b90-8024-475c-9755-8455def7d7d4&section=1">Basic Sentences</a></li>
      <li><a href="/?uuid=560f9b90-8024-475c-9755-8455def7d7d4&section=2">Pronunciation</a></li>
      <li><a href="/?uuid=560f9b90-8024-475c-9755-8455def7d7d4&section=3">Grammar</a></li>
      <li><a href="/?uuid=560f9b90-8024-475c-9755-8455def7d7d4&section=4">Drills</a></li>
      <li><a href="/?uuid=560f9b90-8024-475c-9755-8455def7d7d4&section=5">Listening In</a></li>
      <li><a href="/?uuid=560f9b90-8024-475c-9755-8455def7d7d4&section=6">Conversation</a></li>
      <li><a href="/?uuid=560f9b90-8024-475c-9755-8455def7d7d4&section=7">Vocabulary</a></li>
      <li><a href="/?uuid=560f9b90-8024-475c-9755-8455def7d7d4&section=8">Supplementary Materials</a></li>
      <li><a href="/?uuid=560f9b90-8024-475c-9755-8455def7d7d4&section=9">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="#">Lesson 16</a>
    <ul>
      <li><a href="/?uuid=55409229-ac80-46a8-a7a3-f804d6e157d4&section=1">Basic Sentences</a></li>
      <li><a href="/?uuid=55409229-ac80-46a8-a7a3-f804d6e157d4&section=2">Pronunciation</a></li>
      <li><a href="/?uuid=55409229-ac80-46a8-a7a3-f804d6e157d4&section=3">Grammar</a></li>
      <li><a href="/?uuid=55409229-ac80-46a8-a7a3-f804d6e157d4&section=4">Drills</a></li>
      <li><a href="/?uuid=55409229-ac80-46a8-a7a3-f804d6e157d4&section=5">Listening In</a></li>
      <li><a href="/?uuid=55409229-ac80-46a8-a7a3-f804d6e157d4&section=6">Conversation</a></li>
      <li><a href="/?uuid=55409229-ac80-46a8-a7a3-f804d6e157d4&section=7">Vocabulary</a></li>
      <li><a href="/?uuid=55409229-ac80-46a8-a7a3-f804d6e157d4&section=8">Supplementary Materials</a></li>
      <li><a href="/?uuid=55409229-ac80-46a8-a7a3-f804d6e157d4&section=9">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="#">Lesson 17</a>
    <ul>
      <li><a href="/?uuid=7a6979b4-abd8-4722-a76d-fe8e83b77464&section=1">Basic Sentences</a></li>
      <li><a href="/?uuid=7a6979b4-abd8-4722-a76d-fe8e83b77464&section=2">Pronunciation</a></li>
      <li><a href="/?uuid=7a6979b4-abd8-4722-a76d-fe8e83b77464&section=3">Grammar</a></li>
      <li><a href="/?uuid=7a6979b4-abd8-4722-a76d-fe8e83b77464&section=4">Drills</a></li>
      <li><a href="/?uuid=7a6979b4-abd8-4722-a76d-fe8e83b77464&section=5">Listening In</a></li>
      <li><a href="/?uuid=7a6979b4-abd8-4722-a76d-fe8e83b77464&section=6">Conversation</a></li>
      <li><a href="/?uuid=7a6979b4-abd8-4722-a76d-fe8e83b77464&section=7">Vocabulary</a></li>
      <li><a href="/?uuid=7a6979b4-abd8-4722-a76d-fe8e83b77464&section=8">Supplementary Materials</a></li>
      <li><a href="/?uuid=7a6979b4-abd8-4722-a76d-fe8e83b77464&section=9">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="#">Lesson 18</a>
    <ul>
      <li><a href="/?uuid=7f4a601b-4197-4013-886d-633a2e8d6ba6&section=1">Basic Sentences Review</a></li>
      <li><a href="/?uuid=7f4a601b-4197-4013-886d-633a2e8d6ba6&section=2">Pronunciation</a></li>
      <li><a href="/?uuid=7f4a601b-4197-4013-886d-633a2e8d6ba6&section=3">Grammar</a></li>
      <li><a href="/?uuid=7f4a601b-4197-4013-886d-633a2e8d6ba6&section=4">Drills</a></li>
      <li><a href="/?uuid=7f4a601b-4197-4013-886d-633a2e8d6ba6&section=5">Listening In</a></li>
      <li><a href="/?uuid=7f4a601b-4197-4013-886d-633a2e8d6ba6&section=6">Conversation</a></li>
      <li><a href="/?uuid=7f4a601b-4197-4013-886d-633a2e8d6ba6&section=7">Vocabulary</a></li>
      <li><a href="/?uuid=7f4a601b-4197-4013-886d-633a2e8d6ba6&section=8">Supplementary Materials</a></li>
      <li><a href="/?uuid=7f4a601b-4197-4013-886d-633a2e8d6ba6&section=9">Teaching Aids</a></li>
    </ul>
  </li>
  <li><a href="#">Reference</a>
    <ul><li><a href="#">Grammar</a></li>
      <li><a href="#">Lexicon</a></li>
      <li><a href="#">Blair &amp; Vermont Salas</a></li>
    </ul>
  </li>
  <li><a href="#">Export</a></li>
</ul>

<form>
  <label for="search_block_form">Search this site:</label>
  <input type="text" maxlength="128" name="search_block_form" id="search_block_form" size="15" value="" title="Enter the terms you wish to search for."/>
  <input type="submit" name="op" value="Search"/>
</form>
</div> <!-- /#sidebar -->
      
<div id="main">
  
Chicago Digital Yucatec

<table>
  <tr>
    <th/>
    <th>Character</th>
    <th>English <a href="#">Show</a> <a href="#">Hide</a></th>
    <th>Maya <a href="#">Show</a> <a href="#">Hide</a></th>
  </tr>
  {% for sentence in lesson %}
    {% for b in sentence.breakdowns %}
      <tr>
        <td/>
        <td/>
        <td>{{ b.translation }}</td>
        <td>{{ b.transcription }}</td>
      </tr>
    {% endfor %}
    <tr>
      <td>{{ sentence.abbreviation }}</td>
      <td>{{ sentence.speaker }}</td>
      <td>{{ sentence.translation }}</td>
      <td>{{ sentence.transcription }}</td>
    </tr>
    {% for a in sentence.alternate_transcriptions %}
      <tr>
        <td/>
        <td/>
        <td/>
        <td>{{ a }}</td>
      </tr>
    {% endfor %}
  {% endfor %}
</table>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

</div> <!-- /#main -->
</div> <!-- /#content -->
</div> <!-- /#wrapper -->

<script type="text/javascript">
var menuparents = document.querySelectorAll('.menuparent a');
for (var i = 0; i < menuparents.length; i++) {
  menuparents[i].addEventListener('mouseover', function(e) {
    console.log('mouseover');
    this.nextSibling.style.display = 'block';
  });
  menuparents[i].addEventListener('mouseout', function(e) {
    console.log('mouseout');
    var uls = document.querySelectorAll('.menuparent ul');
    for (var j = 0; j < uls.length; j++) {
      uls[j].style.display = '';
    }
  });
}
</script>

</body>

</html>
