{% extends "base.html" %}
{% block content %}
  {% for block in blocks %}
      <div class="section">
          <div class="index">{{ block.index }}</div>
          <div class="content">
            {% for note in block.notes %}
                <p>{{ note }}</p>
            {% endfor %}
            <p>{{ block.description }}</p>
            {% if block.properties %}
              <ul>
                {% for property in block.properties %}
                  <li>{{ property }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
      </div>
  {% endfor %}
{% endblock %}
